.toggleWrapper {
    position: relative;
    width: 5rem;

    height: 2rem;

    background-color: var(--color-toggle-bg, #4b5563);
    border-radius: 9999px;
    padding: 0.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;


    max-width: 100%;
    transform-origin: left center;
    transition: transform 0.2s ease-in-out;
}

.thumbContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: justify-content 0.25s ease-in-out;
}

.toggleWrapper.en .thumbContainer {
    justify-content: flex-end;
}

.sliderThumb {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: background-image 0.25s ease-in-out;
    box-shadow: var(--shadow-default);
    background-image: url(../../assets/Flag_of_Italy.svg);
}

.toggleWrapper.en .sliderThumb {
    background-image: url(../../assets/Flag_of_the_United_Kingdom.svg);
}


@media (max-width: 768px) {
    .toggleWrapper {
        transform: scale(0.9);

    }
}

@media (max-width: 480px) {
    .toggleWrapper {
        transform: scale(0.8);

    }
}