.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.main {
    flex: 1;

    overflow-y: auto;

}


.footer {
    height: 60px;

    background-color: var(--color-footer);
    color: var(--color-text);
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
    flex-shrink: 0;

}